---
const stats = [
  {
    name: 'Meses',
    value: '3',
  },
  {
    name: 'Integrantes',
    value: '3',
  },
  {
    name: 'Proyectos',
    value: '1',
  },
  {
    name: 'Reconocimientos',
    value: "'0'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/data.jpeg"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nuestra misión</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Desarrollar un completo panel de análisis de registros de los centros de salud en Ilo que permita visualizar de manera efectiva y eficiente los datos de atención médica, asegurando la privacidad de la información y fomentando una toma de decisiones informada en la red de salud de Ilo.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Este tablero de análisis brindará a los profesionales de la salud y a los administradores de los centros de salud de Ilo las herramientas necesarias para analizar y comprender los datos clave relacionados con la atención médica, sin listar información específica. La privacidad y confidencialidad de los pacientes se mantendrá en todo momento.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              El objetivo principal de este dashboard será facilitar el seguimiento de tendencias en la atención médica, el uso de recursos, la calidad de la atención y otros indicadores relevantes. Para lograr esto, se deberán desarrollar visualizaciones interactivas y herramientas de análisis que permitan a los usuarios explorar los datos de manera intuitiva.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
