<section class="py-16 sm:py-20"> 
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8"> 
    <div class="flex flex-col gap-4 sm:gap-6"> 
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Dashboard de Establecimientos</h1> 
      <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-xl text-lg sm:text-xl"> 
        Escoge la página del dashboard que desees, interactúa con los objetos y analiza el estado de cada establecimiento de la ciudad de Ilo
      </p> 
      <div class="flex justify-center"> 
        <div style="margin-left: 9%; margin-right: auto;">
          <iframe title="Reporte de la red de salud" width="1050" height="655" src="https://app.powerbi.com/view?r=eyJrIjoiNmZkMTVjMzYtMGVlZS00Y2VkLTk3M2ItZTAwOWJlMDU4ZmIwIiwidCI6IjhhODc5NDI5LTAxYzItNDc2MC05OGQzLTM3ZWFlZTg0MDczZCIsImMiOjR9"></iframe>
        </div>
      </div> 
    </div> 
  </div> 
</section>